# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Raw Data (do not commit large datasets)
data/raw_data/*.csv
data/raw_data/*.zip
data/raw_data/archive/

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# Data engineering / DB files
*.db
*.duckdb
